.container {
  padding-top: 3rem;
  width: 100%;
}
.title {
  color: #0070f3;
  margin: 0;
  font-size: 3rem;
  text-align: center;
}
.heroName {
  font-size: 2rem;
  color: #0070f3;
  font-weight: bold;
}
.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.loading {
  padding-top: 200px;
  padding-left: 190px;
}

.card__image {
  display: flex;
  padding: 5px;
  align-self: center;
  justify-self: center;
  width: 400px;
  height: 550px;
  border-color: #747373;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
}
.card__powerstats {
  /* align-self: flex-start; */
  width: 400px;
  height: 550px;
  border-color: #747373;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
}
.Matplot {
  display: grid;
}
.icon_graph {
  transform: translateX(20px) translateY(2px);
}
.icon__r {
  transform: translateX(-20px) translateY(2px);
}

@media (max-width: 600px) {
  .card__image {
    height: auto;
  }
  .card__powerstats {
    padding-bottom: 30px;
    height: auto;
  }
  .loading {
    padding-top: 25vh;
    padding-left: 30vw;
  }
}
