/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 2.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 220;
  --hue2: 30;
  --first-color: hsl(var(--hue), 100%, 50%);
  --first-color-alt: hsl(var(--hue2), 80%, 50%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --title-color-card: hsl(var(--hue), 0%, 100%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;
  --card-color: linear-gradient(to bottom right, #ffce00, #fe4880);
  --dark: #212121;
  --light: #f3f3f3;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /*For animation dark mode*/
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-dark: hsl(var(--hue), 8%, 20%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 75%);
  --body-color: hsl(var(--hue), 8%, 12%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --card-color-dark: #000;
}

/*========== Button Dark/Light ==========*/
.change-theme {
  color: var(--title-color);
  font-size: 1.15rem;
  cursor: pointer;
}

.nav__btns {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

/*========== 
Color changes in some parts of 
the website, in dark theme 
==========*/

.dark-theme .questions,
.dark-theme .card__face--front,
.dark-theme .card__face--back {
  background-color: var(--first-color-dark);
  background-image: var(--first-color-dark);
}
.dark-theme .card__bg {
  background-color: var(--card-color-dark);
}

.dark-theme .product__circle,
.dark-theme .footer__subscribe {
  background-color: var(--container-color);
}

.dark-theme .scroll-header {
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, 0.3);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4rem 0 1rem;
}
.sectionOne {
  padding: 3rem 0 1rem;
}
.sectionTwo {
  padding: 2rem 0 1rem;
}

.sectionThree {
  padding: 1rem 0 1rem;
}

.section__title,
.section__title-center {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

.section__title-center {
  text-align: center;
}

.containerGlobal {
  max-width: 1080px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden; /*For animation*/
}

/* *=============== HEADER ===============*/

.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.4s; /*For animation dark mode*/
}

/*=============== NAV ===============*/
.nav {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: 0.3s;
}

.nav__logo-icon {
  font-size: 1.15rem;
  color: var(--first-color);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

/* ============================================================= */
/* Custon Button Login, Logout, Register & Profile */

.btn__login {
  color: #fff;
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  background-color: var(--first-color);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  padding: 0 15px;
  border-radius: 4px;
  height: 30px;
}
.btn__login:hover {
  background-color: var(--first-color-alt);
  opacity: 0.8;
}
.btn__login:active {
  opacity: 0.3;
}
.btn__register {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
}
.btn__register:hover {
  text-decoration: underline;
}
.btn__register:active {
  opacity: 0.5;
}
.container__profile {
  display: grid;
  grid-template-columns: auto 1fr;
}
.user__name {
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  align-self: center;
  justify-self: center;
}
.user__menu {
  min-width: 8rem;
  transform: translate3d(0px, 40px, 0px);
  font-size: var(--small-font-size);
  align-self: center;
  justify-self: center;
}
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, 0.1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: 0.3s;
    z-index: var(--z-fixed);
  }
}
.nav__menu__icon {
  padding-right: 10px;
  font-size: 1.2rem;
}

.nav__close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list {
  padding: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: flex-start;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, 0.1);
}

/* Active link */
.active-link {
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
  position: relative;
  color: var(--first-color);
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.3rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  transition: 0.3s;
}

.button:hover .button__icon {
  transform: translateX(0.25rem);
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.button--link {
  color: var(--first-color);
  font-weight: var(--font-normal);
}

.button--link:hover .button__icon {
  transform: translateX(0.25rem);
}

/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 3rem;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);
  letter-spacing: -1px;
  margin-bottom: var(--mb-2-5);
  transition: 0.3s;
}

.footer__logo-icon {
  font-size: 1rem;
  color: var(--first-color);
}

.footer__logo:hover {
  color: var(--first-color);
}

.footer__title {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__subscribe {
  background-color: var(--first-color-lighten);
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.footer__input {
  font-size: var(--small-font-size);
  width: 70%;
  padding: 0 0.5rem;
  background: none;
  color: var(--text-color);
  border: none;
  outline: none;
}

.footer__button {
  padding: 0.5rem 1rem;
  font-size: var(--smaller-font-size);
}

.footer__data {
  display: grid;
  row-gap: 0.75rem;
  padding-left: 1rem;
}

.footer__information {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: var(--small-font-size);
}

.footer__country-link {
  font-size: 1.2rem;
  color: var(--first-color);
  transition: 0.3s;
}
.footer__contact-link {
  font-size: 1.2rem;
  color: var(--first-color);
  transition: 0.3s;
}
.footer__social {
  display: inline-flex;
  column-gap: 1.8rem;
}
.footer__social-link {
  font-size: 1.8rem;
  color: var(--first-color);
  transition: 0.3s;
}

.footer__social-link:hover,
.footer__country-link:hover,
.footer__contact-link:hover {
  transform: translateY(-0.25rem);
}

.footer__payments {
  padding-left: 1rem;
  display: inline-flex;
  column-gap: 1.8rem;
}
.footer__payments-link {
  transition: 0.3s;
}
.footer__payments-link:hover {
  transform: translateY(-0.5rem);
}
.footer__copy {
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin: 4rem 0 0.2rem 0;
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  background-color: var(--first-color);
  right: 1.5rem;
  bottom: -30%;
  display: inline-flex;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  transition: 0.5s;
}

.scrollup__icon {
  font-size: 1.2rem;
  color: #fff;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--hue), 4%, 29%);
  border-radius: 0.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .containerGlobal {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .footer__subscribe {
    width: 400px;
  }
}

@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close,
  .nav__menu__icon,
  .container__profile__mobile {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
    margin: 0;
  }
  .nav__menu {
    margin-left: auto;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }
  .footer__subscribe {
    width: initial;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav {
    column-gap: 2rem;
    margin: 0 3rem 0 2rem;
  }
  .nav__logo {
    font-size: var(--small-font-size);
  }
  .nav__list {
    column-gap: 2rem;
    margin: 0;
  }
  .nav__link {
    font-size: var(--small-font-size);
  }
  .containerGlobal {
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
  /* Active link */
  .active-link {
    font-weight: var(--font-medium);
    font-size: var(--small-font-size);
  }

  .active-link::after {
    height: 2px;
  }
}
/* For large devices */
@media screen and (min-width: 1025px) {
  .containerGlobal {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 8rem 0 1rem;
  }
  .nav {
    margin: 0 3rem 0 2rem;
  }
  .nav__list {
    column-gap: 3rem;
    margin: 0;
  }
  .nav__link {
    font-size: var(--smaller-font-size);
  }
  /* Active link */
  .active-link {
    font-weight: var(--font-medium);
    font-size: var(--smaller-font-size);
  }
  .active-link::after {
    height: 1.5px;
  }
  .footer__logo {
    font-size: var(--h3-font-size);
  }
  .footer__container {
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
  }
  .footer__copy {
    margin: 7rem 0 0.8rem 0;
  }
}
